
<table> <h1> Cats</h1>
  <% @cats.each do |cat| %>
    <tr>
      <td>Name:</td>
      <td><%= cat[:name] %></td>
    </tr>
  <% end %>
</table>

<table> <h2>Todo</h2>
  <% @todo.each do |todo| %>
    <tr>
      <td>Tasks:</td>
      <td><%= todo[:tasks] %></td>
      <td>Finished:</td>
      <td><%= todo[:finished] %></td>
    </tr>
  <% end %>
</table>

<table> <h3> Users</h3>
  <% @user.each do |user| %>
    <tr>
      <td>Username:</td>
      <td><%= user[:username]%></td>
      <td>Age:</td>
      <td><%= user[:age] %></td>
      <td>Email:</td>
      <td><%= user[:email] %></td>
    </tr>
  <% end %>
</table>